@import url("./reset.css");

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    padding: 24px;
    font-family: 'Times New Roman', Times, serif;
}
/*Mobile-first card*/
.contact-card {
    width: 100%;
    max-width: 360px;
    background-color: rgb(156, 156, 156);
    padding: 20px;
    border-radius: 12px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    overflow: hidden;
}

.image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

.card-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    text-align: center;
}

.name {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
}

.title {
    margin: 0;
    font-style: italic;
}

.number {
    margin: 0;
    font-style: italic;
}

.company {
    margin: 0;
    font-weight: 700;
}

.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
    justify-content: center;
}

.detail {
    background-color: rgba(255, 255, 255, 0.12);
    padding: 10px 14px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 0;
}

.company-details .company {
    font-weight: 700;
}

@media (min-width: 500px) {
    .contact-card {
        max-width: 900px;
        padding: 28px;
        gap: 24px;
    }

    .image {
        width: 260px;
        height: 260px;
    }

    .card-content {
        flex-direction: column;
        text-align: center;
        align-items: center;
        gap: 16px;
    }

    .details {
        flex-direction: row;
        justify-content: center;
        width: auto;
    }
}

@media (min-wdith: 768px) {
    .contact-card {
        max-width: 900px;
        flex-direction: row;
        align-items: center;
        gap: 36px;
        padding: 32px;
    }

    .image {
        width: 260px;
        height: 260px;
        flex-shrink: 0;
    }

    .card-content {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        text-align: left;
        gap: 12px;
    }

    .details {
        flex-direction: column;
        align-items: flex-start;
        width: 100%;
        max-width: 420px;
    }

    .detail {
        width: 100%;
        justify-content: center;

    }
    


}